.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.cart-container{
    background: #ECEFF1;
}

@media (max-width: 1280px){
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 860px){
    .shop-container{
        grid-template-columns: 3fr 2fr;
    }
    
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
}