.orders-container {
    height: 80vh;
    margin: auto;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
}

.reviewItems-container {
    display: flex;
    flex-direction: column;
}

.reviewItems-container h2 {
    margin-left: 8px;
}

.orderCart-container {
    width: 571px;
    max-width: 571px;
    border-radius: 8px;
    background: #ECEFF1;
}

@media (max-width:1355px) {
    .orders-container {
        height: 100%;
        margin: 60px auto;
        flex-direction: column-reverse;
    }

    .orderCart-container {
        margin: auto;
    }
}

@media (max-width:670px) {
    .orderCart-container {
        width: 300px;
    }
}