.header {
    height: 80px;
    background: #1C2B35;
}

.nav {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav img {
    width: 60%;
}

.x-mark-bar {
    color: #FFFFFF;
    font-size: 24px;
    display: none;
}

.x-mark-bar:hover {
    color: #00EAFF;
}

.nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 10px;
    padding: 8px;
    border-radius: 8px;
}

.nav a:hover {
    color: #00EAFF;
}

.active {
    background: #416982;
}

@media (max-width: 1100px) {
    .nav-links {
        position: absolute;
        top: 80px;
        right: 0;
        height: 100rem;
        width: 300px;
        display: flex;
        flex-direction: column;
        z-index: 100;
        padding: 20px;
        background: #3C5A6E;
    }

    .close {
        display: none;
    }

    .x-mark-bar {
        display: block;
    }
}

@media (max-width: 600px) {
    .nav-links {
        width: 200px;
    }
}